/* increase icon size */
.md-nav--primary .md-nav__title {
  height: 7.6rem;
  padding: 5rem 0.8rem 0.2rem;
}

.md-nav__title .md-nav__button.md-logo :is(img, svg) {
    height: 4.4rem;
}

.md-header__button.md-logo :is(img, svg) {
    height: 1.4rem;
}

/* change icon depending on light/dark mode */
#logo_default_mode {
    display: var(--md-logo-default-mode);
}

#logo_slate_mode {
    display: var(--md-logo-slate-mode);
}

[data-md-color-scheme="default"] {
    --md-logo-slate-mode: none;
    --md-logo-default-mode: block;
}

[data-md-color-scheme="slate"] {
    --md-logo-slate-mode: block;
    --md-logo-default-mode: none;
}

/* adjust fonts */
body {
    --md-headline-font-family: var(--md-headline-font,_),-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-header__title {
  font-family: var(--md-headline-font-family);
  font-weight: 600;
}

/* add icon to external links
 *
 * based from:
 * https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/
 *
 * */

a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--md-default-fg-color);
  display: inline-block;
}

a[href^="https://github.com/moldyn/MoSAIC"]::after,
a[href^="https://moldyn.github.io/MoSAIC"]::after,
a[href^="https://github.com/wemake-services"]::after,
a[href^="https://pypi.org"]::after,
a[href^="https://anaconda.org"]::after,
a[href^="https://pepy.tech"]::after,
a[href^="https://img.shields.io"]::after,
a[href^="https://beartype.rtfd.io"]::after,
a[href^="https://doi.org"]::after,
a[href^="https://arxiv.org"]::after,
a[href^="https://codecov.io"]::after
{
  display: none !important;
}
